<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>Admin - RED</title>
    <!-- Favicon -->
    {#<link rel="icon" href="../assets/img/brand/favicon.png" type="image/png">#}
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="/admin/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="/admin/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Argon CSS -->
    <link rel="stylesheet" href="/admin/assets/css/argon.css?v=1.2.0" type="text/css">
</head>

<body class="bg-default">
<!-- Navbar -->

<div class="main-content">
    <!-- Header -->
    <div class="header py-5 py-lg-6 pt-lg-5">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                        <h1 class="text-white">Bienvenue</h1>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Page content -->
    <div class="container mt--9 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card border-0 mb-0">

                    <div class="card-body px-lg-5 py-lg-5">
                        {% if hasError  %}
                            <div class="alert alert-warning"><p>Le nom utilisateur ou le mot de passe est invalide</p></div>
                        {% endif %}
                        <div class="text-center text-black-50 mb-4">
                            <h2>Connexion à l'administration</h2>
                        </div>
                        <form method="post">
                            <div class="form-group mb-3">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Email" type="email" name="_username" value="{{ username }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Mot de passe" name="_password"
                                           required >
                                </div>
                            </div>
                            <div class="form-group">
                                <a href="#" class="text-light"><small>Mot de passe oublié</small></a>
                            </div>

                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-lock"></i>
                                    connexion !
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="py-2" id="footer-main">
    <div class="container">

    </div>
</footer>
<!-- Argon Scripts -->
<!-- Core -->
<script src="/admin/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="/admin/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/admin/assets/vendor/js-cookie/js.cookie.js"></script>
<script src="/admin/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="/admin/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<!-- Argon JS -->
<script src="/admin/assets/js/argon.js?v=1.2.0"></script>
</body>

</html>